<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KnowNav</title>
</head>
<body>
<h2>Know your NAV</h2>
<form method="post" action="/getdata/">
    <table>
        <tr>
            <td>Enter your name:</td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td>Enter your email:</td>
            <td><input type="email" name="email"/></td>
        </tr>
        <tr>
            <td>Enter your phone:</td>
            <td><input type="text" name="phone"/></td>
        </tr>
        <tr>
            <td>Enter your scodes:</td>
            <td><input type="text" name="scodes"/></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>